.cal-plugins {
  width: 60px;
  padding: 2px;
  border-left: 1px solid $grey-lighter;
}

.cal-plugin-active {
  background-color: $grey-lightest;
  cursor: pointer;
  transition: $fade-in-transition;

  svg {
    color: lighten($secondary, 10%) !important;
  }
  span {
    color: $grey-dark !important;
  }
}

.cal-plugin-icon {
  &:hover {
    @extend .cal-plugin-active;
  }
}
