.cal-plugins {
  width: 55px;
  padding: 2px;
  border-left: 1px solid $grey-lighter;
}

.cal-plugin-active {
  background-color: $grey-lightest;
  cursor: pointer;
  transition: $fade-in-transition;

  svg {
    color: lighten($link, 10%) !important;
  }
  span {
    color: $grey-dark !important;
  }
}

.cal-plugin-icon {
  line-height: 0.8;
  height: max-content;
  width: 45px;
  padding: 5px 3px;
  border-radius: $border-radius-med;

  &:hover {
    @extend .cal-plugin-active;
  }
}
