
<div width="620"
    style="padding:24px 42px;margin:24px;background:#fff;color:#3c4149;
    font-family:Inter,-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Helvetica Neue',sans-serif;">

<h2>Your Login code for Chrono</h2>

<a style="color:#fff;font-size:14px;background-color:#5969bf;display:inline-block;border-radius:4px;padding: 7px 12px;font-weight:500;text-decoration:none" href="{{ AUTH_URL }}">Login to Chrono</a>


<p>
This link and code will expire in 5 minutes. If the link is invalid, you can enter the code directly.
</p>

<p>
<strong style="display:inline-block;margin-top:8px;padding:5px 10px;line-height:1em;font-size:1.4em;border-radius:4px;letter-spacing:1.4px;background:#dfe1e4">
<code>{{ OTP_CODE }}</code>
</strong>
</p>

</div>
