html {
  overflow-y: auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navbar {
  border-bottom: 1px solid #dfdfdf;
  height: 3.25rem;
}

.app-content {
  height: calc(100vh - 3.25rem);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-section {
  min-width: 230px;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 0.5rem;
  background-color: whitesmoke;
  overflow-y: scroll;
}

/* MISC: TODO: move these */

.radio-list {
  .radio {
    display: block;

    & + .radio {
      margin-left: 0;
      margin-top: 0.5em;
    }

    & span {
      margin-left: 0.5em;
    }
  }
}

.event-label {
  border-radius: 0.3em;
  width: 1.25em;
  height: 1.25em;

  &--hoverable {
    &:hover {
      transform: scale(1.1);
      box-shadow: 0.05em 0.1em 0.2em 0 rgba(50, 50, 50, 0.4);
    }
  }
}

.has-icon-grey {
  svg {
    fill: $grey;
  }
}

.icon-button {
  &:hover {
    svg {
      background-color: $grey-lightest;
      border-radius: 2px;
    }
  }
}

.global-alert {
  position: fixed;
  bottom: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 50;
  left: 50%;

  .tag {
    min-height: 2.5em;
    min-width: 13em;
    display: flex;
    justify-content: space-between;
  }
}

// TODO: helper class

.is-dragging {
  cursor: grabbing !important;
}
