// Bulma Overrides

$size-small: 0.85rem;
$navbar-breakpoint: '600px';
$primary: #5c6bc0;

// Calendar Colors

$cal-primary: $primary;

$out-of-range-color: lighten(#333, 40%) !default;
$out-of-range-bg-color: lighten(#333, 70%) !default;

$calendar-border: #ddd !default;
$cell-border: #ddd !default;

$border-color: #ccc !default;
$time-selection-color: white !default;

$event-bg: #7986cb !default;
$event-outline: #3b99fc !default;
$event-color: #fff !default;
$event-border-radius: 5px !default;
$event-padding: 2px 5px !default;
$event-zindex: 4 !default;

$current-time-color: #74ad31 !default;
$today-highlight-bg: #eaf6ff !default;

$min-column-width: 70px;

$event-shadow: 2px 4px 8px rgba(110, 110, 110, 0.25);
