$cal-blue: #00A0CC;

$out-of-range-color: lighten(#333, 40%) !default;
$out-of-range-bg-color: lighten(#333, 70%) !default;

$calendar-border: #DDD !default;
$cell-border: #DDD !default;

$border-color: #CCC !default;
$time-selection-color: white !default;

$event-bg: #7986CB !default;
$event-outline: #3b99fc !default;
$event-color: #fff !default;
$event-border-radius: 5px !default;
$event-padding: 2px 5px !default;
$event-zindex: 4 !default;

$current-time-color: #74ad31 !default;
$today-highlight-bg: #eaf6ff !default;

$min-column-width: 70px;

$event-shadow: 2px 4px 10px rgba(115, 115, 115, 0.25);