/* Create New Event */

.cal-event-modal-container {
  background-color: white;
  border-radius: $event-border-radius;
  box-shadow: $event-shadow;
  z-index: 30;
  overflow: visible !important;
}

.cal-event-modal {
  width: 420px;
  padding: 20px 20px 10px 20px;
}

.cal-event-modal-header {
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cal-time-select-wrapper {
  display: flex;
  flex: 2;
}

.cal-date-select {
  flex: 1;
}

.cal-event-edit-description {
  background-color: $white-ter;
  padding: 0.25rem;
  border-radius: $event-border-radius;
  width: 100%;
  line-height: 2;
}

.cal-event-edit-description[contenteditable]:focus {
  outline: 0px solid transparent;
  border: 1px solid $link;
}
