.cal-event {
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: $event-padding;
  background-color: $event-bg;
  border-radius: $event-border-radius;
  color: $event-color;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 70%;
  
  .cal-slot-selecting & {
    cursor: inherit;
    pointer-events: none;
  }

  &.cal-selected {
    background-color: darken($event-bg, 10%);
  }

  &:focus {
    outline: 5px auto $event-outline;
  }

  &.tentative {
    background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 8px,
      rgba(0,0,0,.2) 8px,
      rgba(0,0,0,.2) 10px
    );
  }
}

.cal-event-label {
  @extend .cal-ellipsis;
  font-size: 90%;
}

.cal-event-overlaps {
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}

.cal-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.cal-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.cal-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cal-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
