.cal-calendar {
  flex: 1 1 auto;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cal-calendar *,
.cal-calendar *:before,
.cal-calendar *:after {
  box-sizing: inherit;
}

.cal-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cal-row {
  display: flex;
  flex-direction: row;
}

.cal-abs-full {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cal-off-range-bg {
  background: $out-of-range-bg-color;
}

.cal-today-bg {
  color: white;
  background-color: $cal-primary;
  border-radius: 5px;
  width: 40px;

  margin-left: auto;
  margin-right: auto;
}

.calendar-dropdown {
  .dropdown-menu {
    top: auto;
  }
}

.cal-has-shadow {
  box-shadow: $event-shadow !important;
  z-index: 1;
}

@import 'time-grid.scss';
@import 'time-column.scss';
@import 'events.scss';
@import 'drag-drop.scss';
@import 'month.scss';
@import 'event-modal.scss';
