.cal-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: $event-bg;
  color: $time-selection-color;
  font-size: 70%;
  width: 100%;
  box-shadow: $event-shadow;
  border-radius: $event-border-radius;
  padding: 2px 5px;
  text-align: left;

  &.cal-small-event {
    font-size: 0.7rem;
    margin-top: -2px;
    padding: 0;
  }
}

.cal-time-view {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 0;

  .cal-row {
    box-sizing: border-box;
  }
}

@mixin cal-time-content {
  display: flex;
  flex: 1 0 0%;
  align-items: flex-start;
  width: 100%;
  overflow-y: scroll;
  position: relative;

  > .cal-time-gutter {
    flex: none;
  }

  .cal-rtl & > * + * > * {
    border-left-width: 0;
    border-right: 1px solid $cell-border;
  }

  > .cal-day-slot {
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
  }
}

.cal-time-content-zone {
  @include cal-time-content;
  overflow-y: hidden;
}

.cal-time-content {
  @include cal-time-content;

  border-top: 1px solid $calendar-border;
  > * + * > * {
    border-left: 1px solid $cell-border;
  }
}

.cal-current-time-indicator {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  height: 2px;

  background-color: $cal-primary;
  pointer-events: none;
}

.cal-current-time-circle {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: $cal-primary;
  margin-left: -4px;
  margin-top: -5px;
}

// Headers

.cal-time-header {
  display: flex;
  flex: 0 0 auto; // should not shrink below height
  flex-direction: row;
}

.cal-time-header-content {
  flex: 1;
  display: flex;
  min-width: 0;
  flex-direction: column;
  border-left: 1px solid $cell-border;
  box-shadow: -2px 2px 3px 0px $grey-lighter;
}

.cal-header {
  text-align: center;
  border-top: none;
  flex: 1;
  min-width: $min-column-width;
  display: flex;
  flex-direction: column;
}

.cal-header-day {
  color: $grey-dark;
  font-size: 0.9em;
  padding-top: 0.25em;
}

.cal-today {
  font-weight: bold;
}

.cal-allday-cell {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: relative;
}

.cal-divider {
  border-left: 1px solid $cell-border;
  height: 8px;
}

.no-scroll {
  overflow: hidden;
}